<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/navbar' %>
  	<%= render 'layouts/messages' %>
  	<div class="container">
    <%= yield %>
    </div>

    <div class="container">
    	<footer class="footer">
    		<small class="pull-left">
Copyright © 2017 <a href="http://tareqmahmood.com/">Tareq Mahmood</a>
    		</small>
    		<nav class="pull-right">
    		<ul>
    		<li><%= link_to "About", about_path %></li>
    		</ul>
    		</nav>
    	</footer>
    </div>
  </body>
</html>
